@import '../reset';

$primary: #6C6C6C;
$secondary: #9D9D9D;

.wrap {
  max-width: 550px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 2px 2px 5px rgba($color: $secondary, $alpha: 0.4);
}

.title {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 2.5rem;
  font-weight: 900;
  color: $primary
}

.inputGroup {
  padding-top: 15px;
  padding-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addingField {
  width: 90%;
  padding: 5px 20px;
  font-size: 1.6rem;
  border-radius: 15px;
  border: 1px solid rgba($color: $secondary, $alpha: 0.4);
  outline: none;

  &:focus {
    border: 1px solid $secondary
  }
}

.addBtn {
  width: 30px;
  height: 30px;
  border: 1px solid rgba($color: $secondary, $alpha: 0.4);
  border-radius: 50%;
  font-size: 1.6rme;
  cursor: pointer;
  color: $primary;
  background-color: transparent;

  &:active,
  &:hover {
    color: white;
    background-color: $primary;
  }
}

.statusTab {
  display: flex;
  justify-content: space-between;
  font-size: 1.6rem;
  border: 1px solid rgba($color: $secondary, $alpha: 0.4);
  color: $primary;
}

.tabItem {
  width: 33.33%;
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;

  &.active {
    background-color: rgba($color: $secondary, $alpha: 0.2);
  }

  &:hover {
    background-color: rgba($color: $secondary, $alpha: 0.2);

  }
}

.todoList {
  padding-top: 15px;
  padding-bottom: 15px;
}

.todoItem {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.6rem;

  .checkGroup {
    display: flex;
    align-items: center;
    gap: 15px;
    width: 80%;

    input[type="checkbox"] {
      width: 20px;
      height: 20px;
    }
  }
}

.completedItem {
  text-decoration: line-through;
  color: $primary;
}

.deleteBtn {
  position: relative;
  z-index: 0;
  width: 20px;
  height: 2px;
  padding: 5px;
  cursor: pointer;
  transition: transform 0.2s ease-in;

  &:hover {
    transform: scale(1.2);
  }

  &::after,
  &::before {
    content: '';
    position: absolute;
    left: 0;
    z-index: 1;
    width: 20px;
    height: 2px;
    background-color: $secondary;
  }

  &::after {
    transform: rotate(-45deg);
  }

  &::before {
    transform: rotate(45deg);
  }
}